
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;900&display=swap');

body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
ul {
    list-style-type: none;
    font-size: 16px;}

/*Header */
/* Main */
h1 {
    font-weight: 900;
    color: white;
    font-size: 48px;
    margin-left: 20px;
}
h2{
    font-size: 30px;
    font-weight: 700;
    font-size: 24px;
}
h3{
    font-style: italic;
    font-size: 18px;
}
.icono-receta {
    padding: 10px;
}
.icono-lista {
    padding: 10px;
}
.banner {
    background:thistle url("../img/lemon-pie.svg") no-repeat fixed;
    opacity: 0.9;
    height: 450px;
    background-size: cover; /* Ocupa toda la pagina */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.banner p {
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
}
.cuerpo {
    margin: 50px 20px 50px 30px;
}
.merengue {
    color:orange;
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: rgba(196, 196, 196, 1);
    height: 64px;
    color: black;
    display: flex;
    align-items: center;
}
footer p {
    margin-left: 40%;
}
