/* Estilos generales */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    font-style: normal;
}
/* Header */
.header1 {
    background-color: rgba(28, 209, 176, 1);
    font-size: 1.6rem;
    padding: 10px 0px 10px 20px;
}
header {
    background-color: rgba(0, 102, 159, 1);
    font-size: 2rem;
    padding: 1rem;
    position: sticky;
    top:0px;
    z-index: 999;
    box-shadow: 0px 4px 4px  rgba(0, 0, 0, 0.25);
}
/* Main */
.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 18rem 0;
}
.contenedor1, .contenedor2 {
    display: flex;
    justify-content: space-around;
}
.contenedor2 {
    margin-top: 15rem;
}
.card {
    width: 42rem;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    background-color: rgba(243, 243, 243, 1);
}
.card-img {
    background-repeat: no-repeat;
    background-color: rgb(174, 174, 250);
    border-radius: 16px 16px 0px 0px;
    height: 22rem;
    position: relative;
}
.heart {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    color: rgba(204, 36, 36, 1);
}
.card-img-batman {
    background-image: url('../img/fondoBatman.png');
}

.card-img-harley {
    background-image: url('../img/fondoHarleyQuinn.png');
}
.card-img-mujerMaravilla {
    background-image: url('../img/fondoMujerMaravilla.png');
}
.card-img-superman {
    background-image: url('../img/fondoSuperman.png');
}
.card-text {
    
    height: 48rem;
    font-size: 2.25rem;
    position: relative;
    padding: 85px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.card-text p {
    margin-top: 1.5rem;
    font-size: 2.5rem;
    line-height: 2.8rem;
}
h2 {
    margin-top: 2rem;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    
}
.img-avatar {
    position: absolute;
    top: -70px;
    left: calc(50% - 70px);
    border-radius: 50%;
    height: 15rem;
    border: 0.3rem solid;
}
.bottom {
    /* position: absolute;*/
    background-color:rgba(0, 102, 159, 1) ;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    width: 12rem; 
    margin: 3rem auto;
    border-radius: 15%;
    border: 0.2rem solid;
    
}
.bottom a {
    color: white;
    text-decoration: none;
}
/* Footer */
footer {
    background-color: rgba(0, 102, 159, 1);
    font-size: 1.5rem;
    color: white;
    padding: 2rem;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .contenedor1, .contenedor2 {
        flex-direction: column;
        margin: auto;
    }
    .contenedor{
        margin: 5rem 0 10rem 0;
        align-items: center;
       
    }
    .card {
        margin-top: 5rem;
    }
}
@media screen and (max-width: 480px) {
   .card {
       width:30rem;
   } 
   .card-text {
       height: 70rem;
   }
}