/* Estilos generales */
h1,h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 20px;
    background-color: rgba(196, 196, 196, 1);
    color: rgba(0, 86, 119, 1);
    letter-spacing: 5px;
    word-spacing: 5px;
    height: 25px;
    padding: 10px;
}
/* Header */
header{
    background-color: rgba(229, 229, 229, 1);
    height: 189px;
}
#Logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 0%;
}

.tituloprincipal{
    font-size: 35px;
    word-spacing: 5px;
    letter-spacing: 10px;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
}

/* Main */
.secciones {
    margin: 100px auto;
    width: 70%;
}
span {
    font-weight: 700;
    line-height: 30px;
}
.personal span{
    font-style: italic;
}

ul,dl {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
}
dd{
    margin-left: 75px;
}


/* Footer */
footer{
    background-color:rgba(0, 86, 119, 1);
    text-align: center;
    font-family: "Times New Roman";
    color: white;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 5px;
}
footer a {
    color: white;
}


